body {
    padding-top: 20px;
    padding-bottom: 40px;
}

hr {
    margin-top: 0px;
}

table.document-table {
    width: 100%;
}

tr.document-row {
    font-size: x-large;
}

.breadcrumbs {
    font-size: x-large;
    padding-bottom: 20px;
}

tr.link-row {
    color: #0081c2;
    cursor: pointer;
}

tr.document-row > td {
    padding: 5px;
}

img.document-thumbnail {
    height: 32px;
    width: 32px;
}

img.greyed-out, tr.greyed-out > td {
    opacity: 0.5;
}

td.document-name {
    padding-left: 10px;
    min-width: 800px;
}

#upload {
    margin-left: 20px;
}

img.preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
}

p.empty-folder {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    font-style: italic;
    padding-top: 20px;
}

.logo {
    float:left;
}

.search {
    margin-top: 5px;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 450px;
}

.notifications.top-center{
    left:50%;top:25px;
}

.danger {
    color: red;
}

.preview {
    text-align: right;
    vertical-align: text-top
}
