.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

tr.document-row {
    font-size: x-large;
    color: #0081c2;
    cursor: pointer;
    border: 1px solid #ddd;
}

tr.document-row > td {
    padding: 5px;
}

img.document-thumbnail {
    height: 32px;
    width: 32px;
}

td.document-name {
    padding-left: 10px;
    min-width: 600px;
}

