<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SimpleCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:src="@{/resources/jquery/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/bootbox/bootbox.min.js}"></script>
    <script th:src="@{/resources/application.js}"></script>
    <!--<script th:inline="javascript">/*<![CDATA[*/ var document = /*[[${document.shallowCopy}]]*/ null; /*]]>*/</script>-->

    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/application.css}" rel="stylesheet"/>

    <link th:href="@{/resources/upload/fineuploader-3.4.1.css}" rel="stylesheet"/>
    <script th:src="@{/resources/upload/jquery.fineuploader-3.4.1.min.js}"></script>
</head>
<body>

<div class="container">
    <div>
        <div class="logo">
            <a href="0"><img th:src="@{/resources/logo.png}"/></a>
        </div>
        <div class="search">
            <input id="search" type="text" data-provide="typeahead" placeholder="Search"/>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <hr/>
            <table class="document-table">
                <tr th:id="${document.parentId}" th:class="${document.root} ? 'document-row greyed-out' : 'document-row link-row'">
                    <td>
                        <img th:class="${document.root} ? 'document-thumbnail greyed-out' : 'document-thumbnail'" th:src="@{/resources/back.jpg}"/>
                    </td>
                    <td class="document-name">
                        Parent Folder
                    </td>
                    <td></td>
                </tr>
                <tr th:id="${child.id}" th:class="${child.viewable} ? 'document-row link-row' : 'document-row'"
                    th:each="child : ${document.children}" class="document-row">
                    <td>
                        <img class="document-thumbnail" th:src="@{${child.thumbail}}" src="/resources/document.png"/>
                    </td>
                    <td th:text="${child.name}" class="document-name">
                        example.txt
                    </td>
                    <td>
                        <button type="button" class="btn delete-button">Delete</button>
                    </td>
                </tr>
            </table>

            <p th:if="${#lists.isEmpty(document.children)}" class="empty-folder">
                <i>This folder is empty.</i>
            </p>

            <br/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="span4">
        <button type="button" class="btn btn-primary" onclick="createFolder()">New Folder</button>
            <div id="fine-uploader-basic" class="btn btn-success">
                <i class="icon-upload icon-white"></i> Upload File
            </div>
        </div>
        <div class="span3">
            <div id="progress-bar" class="progress progress-striped active" style="margin-top: 5px">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    <div id="messages"></div>
</div>

<script>
    $(document).ready(function() {
        initializeUploader();
        initializeSearch();

        $('.link-row').click(documentClicked);
        $('.delete-button').hover(function() {
            $(this).toggleClass("btn-danger");
        }).click(deleteDocument);
    });
</script>
</body>
</html>