<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SimpleCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/resources/jquery/jquery-1.9.1.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/bootbox/bootbox.min.js"></script>
    <script src="/resources/common.js"></script>
    <!--<script th:inline="javascript">/*<![CDATA[*/ var document = /*[[${document.shallowCopy}]]*/ null; /*]]>*/</script>-->

    <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/resources/common.css" rel="stylesheet"/>

    <link href="/resources/upload/fineuploader-3.3.0.css" rel="stylesheet"/>
    <script src="/resources/upload/jquery.fineuploader-3.3.0.min.js"></script>

</head>
<body>

<div class="container">
    <div>
        <a href="/admin/document/0/"><img src="/resources/logo.png"/></a>
    </div>
    <hr/>
    <div class="row">
        <div class="span12">
            <table class="document-table">
                <tr th:unless="${document.root}" th:id="${document.parentId}" class="document-row link-row">
                    <td>
                        <img class="document-thumbnail" src="/resources/back.jpg"/>
                    </td>
                    <td class="document-name">
                        Parent Folder
                    </td>
                    <td></td>
                </tr>
                <tr th:id="${child.id}" th:class="${child.viewable} ? 'document-row link-row' : 'document-row'"
                    th:each="child : ${document.children}" class="document-row">
                    <td>
                        <img class="document-thumbnail" th:src="${child.thumbail}" src="/resources/document.png"/>
                    </td>
                    <td th:text="${child.name}" class="document-name">
                        example.txt
                    </td>
                    <td>
                        <button type="button" class="btn delete-button">Delete</button>
                    </td>
                </tr>
            </table>

            <p th:if="${#lists.isEmpty(document.children)}" class="empty-folder">
                <i>This folder is empty.</i>
            </p>

            <br/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div id="fine-uploader-basic" class="btn btn-success">
            <i class="icon-upload icon-white"></i> Upload File
        </div>
        <button type="button" class="btn btn-primary" onclick="createFolder()">New Folder</button>
    </div>
    <div id="messages"></div>
</div>

<script>
    $(document).ready(function() {
        $('.link-row').click(clickDocument);

        var uploader = new qq.FineUploaderBasic({
            button: $('#fine-uploader-basic')[0],
            request: {
                endpoint: window.location.pathname + '/files'
            },
            validation: {
            },
            callbacks: {
                onSubmit: function(id, fileName) {
                },
                onUpload: function(id, fileName) {
                },
                onProgress: function(id, fileName, loaded, total) {
                },
                onComplete: function(id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        location.reload();
                    } else {
                        alert("Upload Failed");
                    }
                }
            }
        });

        $('.delete-button').hover(function() {
            $(this).toggleClass("btn-danger");
        }).click(deleteDocument);
    });
</script>
</body>
</html>