<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SimpleCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:src="@{/resources/jquery/jquery-1.9.1.min.js}" src="../../resources/jquery/jquery-1.9.1.min.js"></script>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}" src="../../resources/bootstrap/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/bootbox/bootbox.min.js}" src="../../resources/bootbox/bootbox.min.js"></script>
    <script th:src="@{/resources/application.js}" src="../../resources/application.js"></script>
    <!--<script th:inline="javascript">/*<![CDATA[*/ var document = /*[[${document.shallowCopy}]]*/ null; /*]]>*/</script>-->

    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" href="../../resources/bootstrap/css/bootstrap.min.css"/>
    <link th:href="@{/resources/application.css}" rel="stylesheet" href="../../resources/application.css"/>

    <link th:href="@{/resources/upload/fineuploader-3.4.1.css}" rel="stylesheet" href="../../resources/upload/fineuploader-3.4.1.css"/>
    <script th:src="@{/resources/upload/jquery.fineuploader-3.4.1.min.js}" src="../../resources/upload/jquery.fineuploader-3.4.1.min.js"></script>
</head>
<body>

<div class="container">
    <div>
        <div class="logo">
            <a href="0"><img th:src="@{/resources/logo.png}" src="../../resources/logo.png"/></a>
        </div>
        <div style="text-align: right">
            <a href="qwe" class="logout">Logout</a><br/>
            <input id="search" type="text" data-provide="typeahead" placeholder="Search" class="search"/>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <hr/>
            <table class="document-table">
                <tr th:unless="${document.root}">
                    <td class="breadcrumps" colspan="3">
                        <span th:each="breadcrumb, iter : ${document.breadcrumbs}">
                            <span th:unless="${iter.first}">/</span>

                            <span th:if="${iter.first}">
                                <a th:unless="${iter.last}" th:href="${breadcrumb.id}"><img th:src="@{/resources/home.png}" src="../../resources/home.png"/></a>
                            </span>
                            <span th:unless="${iter.first}">
                                <span th:unless="${iter.last}">
                                    <a th:href="${breadcrumb.id}" th:text="${breadcrumb.name}">Parent</a>
                                </span>
                                <span th:if="${iter.last}" th:text="${breadcrumb.name}">Current</span>
                            </span>
                        </span>
                    </td>
                </tr>
                <tr th:id="${child.id}" th:class="${child.viewable} ? 'document-row link-row' : 'document-row'"
                    th:each="child : ${document.children}" class="document-row">
                    <td>
                        <img class="document-thumbnail" th:src="@{${child.thumbail}}" src="../../resources/document.png"/>
                    </td>
                    <td th:text="${child.name}" class="document-name">
                        example.txt
                    </td>
                    <td>
                        <button type="button" class="btn delete-button">Delete</button>
                    </td>
                </tr>
            </table>

            <p th:if="${#lists.isEmpty(document.children)}" class="empty-folder">
                <i>This folder is empty.</i>
            </p>

            <br/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="span4">
        <button type="button" class="btn btn-primary" onclick="createFolder()">New Folder</button>
            <div id="fine-uploader-basic" class="btn btn-success">
                <i class="icon-upload icon-white"></i> Upload File
            </div>
        </div>
        <div class="span3">
            <div id="progress-bar" class="progress progress-striped active" style="margin-top: 5px">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    <div id="messages"></div>
</div>

<script>
    $(document).ready(function() {
        initializeUploader();
        initializeSearch();

        $('.link-row').click(documentClicked);
        $('.delete-button').hover(function() {
            $(this).toggleClass("btn-danger");
        }).click(deleteDocumentOnRow);
    });
</script>
</body>
</html>