<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SimpleCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:src="@{/resources/jquery/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/bootbox/bootbox.min.js}"></script>
    <script th:src="@{/resources/common.js}"></script>

    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/common.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div>
        <a href="0"><img th:src="@{/resources/logo.png}"/></a>
    </div>
    <hr/>
    <div class="row">
        <div class="span12">
            <table>
                <tr th:unless="${document.root}" th:id="${document.parentId}" class="document-row link-row">
                    <td>
                        <img class="document-thumbnail" th:src="@{/resources/back.jpg}"/>
                    </td>
                    <td class="document-name">
                        Parent Folder
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span12">
            <img class="preview" th:src="@{${document.path}}"/>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $('.link-row').click(clickDocument);
</script>

</body>
</html>