<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SimpleCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:src="@{/resources/jquery/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/bootbox/bootbox.min.js}"></script>
    <script th:src="@{/resources/application.js}"></script>

    <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/application.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div>
        <a href="0"><img th:src="@{/resources/logo.png}"/></a>
    </div>
    <hr/>
    <div class="row">
        <div class="span12">
            <table>
                <tr>
                    <td class="breadcrumps" colspan="3">
                        <span th:each="breadcrumb, iter : ${document.breadcrumbs}">
                            <span th:unless="${iter.first}">/</span>

                            <span th:if="${iter.first}">
                                <a th:unless="${iter.last}" th:href="${breadcrumb.id}"><img src="/resources/home.png"/></a>
                            </span>
                            <span th:unless="${iter.first}">
                                <span th:if="${iter.last}" th:text="${breadcrumb.name}">Current</span>
                                <span th:unless="${iter.last}">
                                    <a th:href="${breadcrumb.id}" th:text="${breadcrumb.name}">Parent</a>
                                </span>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span12">
            <img class="preview" th:src="@{${document.path}}"/>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $('.link-row').click(documentClicked);
</script>

</body>
</html>