<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: header">
    <script src="../../resources/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../resources/thymol/thymol.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="span12">
            <div th:include="fragments :: top-bar"></div>
            <div th:include="fragments :: breadcrumbs"></div>
            <br/>
            <img class="preview" th:src="@{${document.path}}" src="../../resources/document.png"/>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="span12">
            <div id="upload" class="btn">
                <i class="icon-upload"></i> Upload
            </div>
            <button type="button" id="delete" class="btn btn-danger" th:onclick="'deleteDocument(currentDocument.id, currentDocument.name, navigateToParent)'"><i class="icon-remove"></i> Delete</button>
        </div>
    </div>
</div>

<script th:include="fragments :: initialize" th:inline="javascript"></script>

</body>
</html>