<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SomaCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="../../resources/libraries/jquery/jquery-1.9.1.min.js"></script>
    <link th:href="@{/resources/libraries/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" href="../../resources/libraries/bootstrap/css/bootstrap.min.css"/>
    <script th:src="@{/resources/libraries/bootstrap/js/bootstrap.min.js}" src="../../resources/libraries/bootstrap/js/bootstrap.min.js"></script>
    <link th:href="@{/resources/application.css}" rel="stylesheet" href="../../resources/application.css"/>
</head>

<body>
<div class="container">
    <div class="span4 offset4 pagination-centered">
        <img th:src="@{/resources/images/logo.png}" src="../../resources/images/logo.png"/>
        <hr/>
        <p>Welcome! If you're looking for the administration, <a href="/admin/" th:href="@{/admin/}">you can find it here.</a></p>
    </div>
</div>

</body>
</html>