<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SomaCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="../../resources/libraries/jquery/jquery-1.9.1.min.js"></script>
    <link th:href="@{/resources/libraries/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" href="../../resources/libraries/bootstrap/css/bootstrap.min.css"/>
    <script th:src="@{/resources/libraries/bootstrap/js/bootstrap.min.js}" src="../../resources/libraries/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="span5 offset1">
            <div id="legend">
                <legend class="">
                    <a href="0"><img th:src="@{/resources/images/logo.png}" src="../../resources/images/logo.png"/></a>
                </legend>
                <div th:if="${failed}" class="alert alert-error">
                    Wrong username or password.
                </div>
                <div th:if="${logout}" class="alert alert-success">
                    You have been logged out.
                </div>

            </div>
        </div>

        <form class="form-horizontal" th:action="@{/j_spring_security_check}" method="POST">
            <fieldset>

                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="j_username">Username</label>

                        <div class="controls">
                            <input type="text" id="j_username" name="j_username" placeholder="" class="input-xlarge"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="j_password">Password</label>

                        <div class="controls">
                            <input type="password" id="j_password" name="j_password" placeholder="" class="input-xlarge"/>
                        </div>
                    </div>


                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
</body>
</html>