<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: header">
    <script src="../../resources/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../resources/thymol/thymol.js"></script>
</head>

<body>
<div class="container">
    <div th:include="fragments :: top-bar"></div>
    <div class="row">
        <div class="span12">
            <div class="span12">
                <hr/>
                <div th:include="fragments :: breadcrumbs"></div>
                <form><textarea id="code" name="code" th:text="${documentText}"></textarea></form>
                <button type="button" id="discard" class="btn" onclick="discardText()">Discard</button>
                <button type="button" id="save" class="btn btn-success" onclick="saveText(editor.getValue(), currentDocument.id)">Save</button>
                <div id="upload" class="btn">
                    <i class="icon-upload"></i> Upload
                </div>
                <button type="button" id="delete" class="btn btn-danger" onclick="deleteDocument(currentDocument.id, currentDocument.name, navigateToParent)"><i class="icon-remove"></i> Delete</button>
                </div>
        </div>
    </div>
</div>

<script th:include="fragments :: initialize" th:inline="javascript"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var editorMode = /*[[${document.mimeType}]]*/ null;
    /*]]>*/

    $(document).ready(function() {
        initializeEditor(editorMode);
    });
</script>

<script th:src="@{/resources/codemirror/lib/codemirror.js}" src="../../resources/codemirror/lib/codemirror.js"></script>
<script th:src="@{/resources/codemirror/mode/xml/xml.js}" src="../../resources/codemirror/mode/xml/xml.js"></script>
<script th:src="@{/resources/codemirror/mode/javascript/javascript.js}" src="../../resources/codemirror/mode/javascript/javascript.js"></script>
<script th:src="@{/resources/codemirror/mode/css/css.js}" src="../../resources/codemirror/mode/css/css.js"></script>
<script th:src="@{/resources/codemirror/mode/vbscript/vbscript.js}" src="../../resources/codemirror/mode/vbscript/vbscript.js"></script>
<script th:src="@{/resources/codemirror/mode/htmlmixed/htmlmixed.js}" src="../../resources/codemirror/mode/htmlmixed/htmlmixed.js"></script>

</body>
</html>