<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SimpleCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/resources/jquery/jquery-1.9.1.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="/resources/bootbox/bootbox.min.js"></script>
    <script src="/resources/common.js"></script>

    <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/resources/common.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/resources/codemirror/lib/codemirror.css"/>
    <script src="/resources/codemirror/lib/codemirror.js"></script>
    <script src="/resources/codemirror/mode/xml/xml.js"></script>
    <script src="/resources/codemirror/mode/javascript/javascript.js"></script>
    <script src="/resources/codemirror/mode/css/css.js"></script>
    <script src="/resources/codemirror/mode/vbscript/vbscript.js"></script>
    <script src="/resources/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <style>
        .CodeMirror {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            height: 450px;
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <a href="/admin/document/0/"><img src="/resources/logo.png"/></a>
    </div>
    <hr/>
    <div class="row">
        <div class="span12">
            <table>
                <tr th:unless="${document.root}" th:id="${document.parentId}" class="document-row link-row">
                    <td>
                        <img class="document-thumbnail" src="/resources/back.jpg"/>
                    </td>
                    <td class="document-name">
                        Parent Folder
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span12">
            <form><textarea id="code" name="code" th:text="${documentText}"></textarea></form>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <button type="button" class="btn btn-primary" th:onclick="'saveText(editor.getValue(), ' + ${document.parent.id} + ')'">Save</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var editor;
    $(document).ready(function() {
        $('.link-row').click(clickDocument);

        var editorMode = null;
        /*[+editorMode = [[${document.mimeType}]];+]*/

        editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: editorMode,
            tabMode: "indent",
            lineNumbers:true,
            matchBrackets:true
        });
    });
</script>
</body>
</html>