<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org" th:with="title='hello'">

<head th:include="admin/fragments :: header">
    <script src="../../../resources/libraries/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../../resources/libraries/thymol/thymol.js"></script>
</head>
<script th:src="@{/resources/folder.js}" src="../../../resources/folder.js"></script>

<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <div th:include="admin/fragments :: top-bar"></div>
            <div th:include="admin/fragments :: breadcrumbs"></div>
            <table class="document-table">
                <tr th:id="${child.id}" th:class="${child.viewable} ? 'document-row link-row' : 'document-row'"
                    th:each="child : ${document.children}" class="document-row">
                    <td>
                        <img class="document-thumbnail" th:src="@{${child.thumbail}}" src="../../../resources/images/document.png"/>
                    </td>
                    <td th:text="${child.name}" class="document-name">
                        example.txt
                    </td>
                    <td>
                        <button type="button" class="btn delete-button">Delete</button>
                    </td>
                </tr>
            </table>

            <p th:if="${#lists.isEmpty(document.children)}" class="empty-folder">
                <i>This folder is empty.</i>
            </p>

            <br/>
        </div>
    </div>
    <hr/>
    <div>
        <button type="button" class="btn btn" onclick="createFolder(currentDocument.id)"><i class="icon-folder-open"></i> New Folder</button>
        <button type="button" class="btn btn" onclick="createDocument(currentDocument.id)"><i class="icon-file"></i> New Document</button>
        <div id="upload" class="btn btn-success">
            <i class="icon-upload icon-white"></i> Upload File
        </div>
    </div>
    <div class="span5">
        <div id="progress-bar" class="progress progress-striped active" style="margin-top: 5px">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>

<script th:include="admin/fragments :: initialize" th:inline="javascript"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        $('.link-row').click(documentClicked);
        $('.delete-button').hover(function() {
            $(this).toggleClass("btn-danger");
        }).click(deleteDocumentOnRow);
    });
</script>
</body>
</html>