<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/fragments :: header">
    <script src="../../../resources/libraries/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../../resources/libraries/thymol/thymol.js"></script>
</head>
<body>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div th:include="admin/fragments :: top-bar"></div>
            <div th:include="admin/fragments :: breadcrumbs"></div>
            <img class="preview" th:src="@{${document.path}}" src="../../../resources/images/document.png"/>
            <br/>
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span12">
            <div class="span11">
                <div id="upload" class="btn">
                    <i class="icon-upload"></i> Upload
                </div>
                <button type="button" id="delete" class="btn btn-danger" onclick="deleteDocument(currentDocument.id, currentDocument.name, false, navigateToParent)"><i class="icon-remove"></i> Delete</button>
            </div>
            <div class="span1 preview">
                <a href="#" th:href="@{${document.path}}">Preview</a>
            </div>
        </div>
    </div>
    <div class="span5" th:include="admin/fragments :: upload-progress"></div>
</div>

<script th:include="admin/fragments :: initialize" th:inline="javascript"></script>

</body>
</html>