<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/fragments :: header">
    <script src="../../../resources/libraries/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../../resources/libraries/thymol/thymol.js"></script>
</head>
<script th:src="@{/resources/text.js}" src="../../../resources/text.js"></script>

<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <div th:include="admin/fragments :: top-bar"></div>
            <div th:include="admin/fragments :: breadcrumbs"></div>
            <form><textarea id="code" name="code" th:text="${documentText}"></textarea></form>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <button type="button" id="discard" class="btn" onclick="discardText()">Discard</button>
            <button type="button" id="save" class="btn btn-success" onclick="saveText(editor.getValue(), currentDocument.id)">Save</button>
            <div id="upload" class="btn">
                <i class="icon-upload"></i> Upload
            </div>
            <button type="button" id="delete" class="btn btn-danger" onclick="deleteDocument(currentDocument.id, currentDocument.name, false, navigateToParent)"><i class="icon-remove"></i> Delete</button>
        </div>
        <div class="preview">
            <a href="#" th:href="@{${document.path}}">Preview</a>
        </div>
        <div class="span5" th:include="admin/fragments :: upload-progress"></div>
    </div>

</div>

<script th:include="admin/fragments :: initialize" th:inline="javascript"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var editorMode = /*[[${document.mimeType}]]*/ null;
    /*]]>*/

    $(document).ready(function() {
        initializeEditor(editorMode);
    });
</script>


<script th:src="@{/resources/libraries/codemirror/lib/codemirror.js}" src="../../../resources/libraries/codemirror/lib/codemirror.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/xml/xml.js}" src="../../../resources/libraries/codemirror/mode/xml/xml.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/javascript/javascript.js}" src="../../../resources/libraries/codemirror/mode/javascript/javascript.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/css/css.js}" src="../../../resources/libraries/codemirror/mode/css/css.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/vbscript/vbscript.js}" src="../../../resources/libraries/codemirror/mode/vbscript/vbscript.js"></script>
<script th:src="@{/resources/libraries/codemirror/mode/htmlmixed/htmlmixed.js}" src="../../../resources/libraries/codemirror/mode/htmlmixed/htmlmixed.js"></script>

</body>
</html>